<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Web developer and Hackathon Hacker" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta name="theme-color" content="#1b1e25" />

  <!-- Social Data -->
  <meta
    property="og:image"
    content="https://timsitorus.com/assets/images/thumbnail.png"
  />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Timotius Sitorus" />
  <meta
    property="og:description"
    content="Web developer and Hackathon Hacker"
  />
  <meta property="og:url" content="http://timsitorus.com" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@timsitorus" />
  <meta name="twitter:title" content="Timotius Sitorus" />
  <meta
    name="twitter:description"
    content="Web developer and Hackathon Hacker"
  />
  <meta
    name="twitter:image:src"
    content="https://timsitorus.com/assets/images/thumbnail.png"
  />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>
    {% if page.title %}{{ page.title | escape }}{% else %}{{
      site.title | escape
    }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{
      page.excerpt | strip_html | strip_newlines | truncate: 160
    }}{% else %}{{ site.description }}{% endif %}"
  />

  <link rel="stylesheet" href="{{
    "/css/main.css" | prepend: site.baseurl
  }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{
    site.title
  }}" href="{{
    "/feed.xml" | prepend: site.baseurl | prepend: site.url
  }}">
</head>
