//============== Compiled Cubic animation
.cube,
.half1,
.half2,
.container,
.side {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

@media (max-width: 600px) {
    #cubeContainer {
      width: 300px;
      height: 300px;
  }
}

#cubeContainer {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
  overflow: hidden;
  margin: 2em auto;
  -webkit-perspective: 40000px;
  -moz-perspective: 40000px;
  perspective: 40000px; }

.cube {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  left: -6em;
  width: 500px;
  height: 500px;
  -webkit-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -moz-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -ms-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -o-transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  transform: rotateX(185deg) rotateY(0deg) rotateZ(45deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-animation: cube 5s forwards infinite;
  -moz-animation: cube 5s forwards infinite;
  animation: cube 5s forwards infinite;
  -webkit-animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9);
  -moz-animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9);
  animation-timing-function: cubic-bezier(0.97, 1, 0.66, 0.9); }

.half1 {
  height: 100px;
  top: 0;
  position: absolute;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.side {
  width: 100px;
  height: 100px;
  border: 3px solid #FFFFFF;
  background: transparent;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box; }

.s1 {
  top: 0;
  left: 200px;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg); }

.s2 {
  top: 100px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

.s3 {
  top: 200px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

.s4 {
  top: 300px;
  left: 200px;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg); }

.s5 {
  left: 100px;
  top: 100px;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.s6 {
  left: 300px;
  top: 200px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg); }

@-webkit-keyframes cube {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }
@-moz-keyframes cube {
  0% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }
@keyframes cube {
  0% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  12.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); }
  25% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  37.5% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(135deg); }
  50% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  62.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(135deg); }
  75% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  87.5% {
    -webkit-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(125deg) rotateY(0deg) rotateZ(45deg); }
  100% {
    -webkit-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg); } }
