/**
 * Site header
 */
.site-header {
    padding: 50px 60px 50px 60px;
    min-height: 56px;
    background-color: $black;
    z-index: 100;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.logo {
    margin-bottom: 0;
    float: left;
    clear: both;
}
.site-title {

    font-size: 32px;
    color: $white;
    letter-spacing: 1.59px;
    line-height: 39px;

    &:visited {
        color: $white;
    }
    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.site-subtitle {
    font-size: 16px;
    color: $white;
    letter-spacing: 1px;
    line-height: 24px;
}

.site-nav {
    float: right;
    line-height: 36px;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: 18px;
        color: $white;
        letter-spacing: 1.2px;
        line-height: 20px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@media (max-width: 850px) {
    .site-nav {
        display: none;
  }
}
