
// Home Page 
// 
.slant {
    width: 100%;
}

#header {
    text-align: center;
    background: $black;
    padding: 50px 0 55px 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    h1 {
        font-size: 55px;
        color: $white;
        letter-spacing: 2.74px;
        line-height: 67px;
    }
}

@media (max-width: $tablet) {
    #header {
        padding-top: 0;
        h1 {
            font-size: 25px;
        }
    }
}

#intro {
    background-color: $grey;
    .column {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    h1 {
        padding-bottom: 20px;
        margin: 0;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }
    p {
        margin: 0;
        font-size: 24px;
        line-height: 2;
        color: $black;
        padding-bottom: 25px;
        text-align: center;

        letter-spacing: 1.59px;
    }
    a {
        color: #ccc;
        border-bottom: 1px dotted #ccc;
        padding-bottom: 5px;
    }
    a.link-focus:hover {
        color: #fe4444;
        border-color: #fe4444;
    }
}

@media (max-width: $tablet) {
    #intro {
        padding: 5%;
        h1 {
            font-size: 26px;
            padding-bottom: 10px;
        }

        p {
            font-size: 20px;
        }
    }
}

#projects {
    padding-top: 50px;
    padding-bottom: 20%;
    background-color: $white;

    h1 {
        width: 100%;
        text-align: center;
        font-size: 36px;
        letter-spacing: 2.74px;
        line-height: 67px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .project-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style-type: none;
        padding: 0 12.5%;
    }

    .project-item {
        margin-bottom: 1.5rem;
        text-align: center;
        padding: 0 1.5rem;

        flex: 1 0 auto;
        width: 33.3%;
        min-width: 300px;
        max-width: 400px;



        a {
            color: $black;
            text-decoration: none;
            transition: color 0.25s;
        }
    }

    .thumbnail {
        padding-bottom: 10px;
        transition: all 0.25s ease;

        img {
            border-radius: 3px;
        }

        &:hover {
            transform: translateY(-0.5rem);
        }
    }
    .thumbnail-title {
        font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 1.22px;
    }
}

@media (max-width: $tablet) {
    #projects {
        padding: 0;
        h1 {
            font-size: 26px;
        }

        .thumbnail-title {
            font-size: 20px;
        }
    }
}

// Experiments Page
//
.experiments {
    background-color: $black;
    padding-top: 50px;
    padding-bottom: 200px;
    display: block;


    & > h1 {
        width: 100%;
        text-align: center;
        margin: 1% 0 4% 0; 
        font-size: 36px;
        color: $white;
        letter-spacing: 3px;
    }

    h3 {
        font-size: 28px;
        font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: $white;
    }

    #featured {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        min-width: 1000px;
        margin: auto;

        .featured-desc {
            color: $white;
            max-width: 70%;
            min-width: 250px;
            position: absolute;
            top: 25%;

             p {
                font-size: 20px;
             }
        }
        .featured-stage {
            width: 100%;
            margin: auto;
            height: 450px;

            h1 {
                color: #fff;
                text-align: center;
                padding-top: 20px;
                font-weight: bold;
            }
        }


        .left-col {
            position: relative;
            flex-grow: 1;
        }

        .right-col {
            flex-grow: 1;
        }

    }


    #all {
        background-color: $black;
        width: 90%;
        margin: auto;
        margin-top: 80px;
    }

    .experiment-list {
        display: flex;
        flex-flow: row wrap;
        margin-left: -20px;
        margin-top: -20px;
        list-style-type: none;

        justify-content: center;
    }

    .experiment-item {
        margin-left: 20px;
        margin-top: 20px;
        overflow: hidden;
        transition: all 0.25s ease;
        position: relative;

        flex: 0 0 auto;
        width: calc(33.3% - 20px);
        min-width: 300px;

        img {
            width: 100%;
            height: 100%;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-color: $black;
            position:absolute;
            opacity: 0;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .experiment-title {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        
        padding-top: 50%;
        padding-bottom: 50%;
        width: 100%;
        text-align: center;

        font-size: 32px;
        text-decoration: underline;
        &:hover {
            opacity: 1;
        }    

    }

    
}

// Writing Page
//
.writing {

    .writing-header {
        background-color: $black;
        padding-top: 8%;
        padding-bottom: 7%;
        height: 280px;
        margin-bottom: 950px;
        display: block;
        @include angle(after);
    }

    & h1 {
        width: 100%;
        text-align: center;
        font-size: 36px;
        color: $white;
        letter-spacing: 3px;
    }
    .title {
        color: $black;
        width: 100%;
        text-align: center;
        font-size: 36px;
        letter-spacing: 3px;
        margin: 5% 0;
    }

    .white {
        color: $white;
        h3 {
            color: $white;
        }
    }
}

